.navigation-desktop
  &__dropdown
    display: block
    position: absolute
    top: 3.25rem
    transform: translateX(-50%) rotateX(20deg) skewX(2deg)
    transition: opacity .15s ease-in-out, transform .35s ease-in-out
    opacity: 0
    padding-top: 1rem
    width: 15rem
    pointer-events: none
    transform-origin: top

    &--active
      transform: translateX(-50%) rotateX(0) skewX(0)
      opacity: 1
      pointer-events: auto

    &--open
      transition: left .25s ease-in-out, height .35s ease-in-out, opacity .15s ease-in-out, transform .25s ease-in-out

    &-background
      position: absolute
      top: 1rem
      left: 0
      box-shadow: 0 2px 2px $shadow
      background: $white
      width: 15rem
      height: calc(100% - 1rem)
      overflow: hidden

    &-arrow
      position: absolute
      top: .45rem
      left: 50%
      transform: translateX(-50%) rotate(45deg)
      box-shadow: 0 2px 2px $shadow
      background: $white
      width: 1.5rem
      height: 1.5rem

    &-container
      display: flex
      position: absolute
      flex-direction: column
      transition: opacity .25s ease-in
      opacity: 0
      padding: .75rem
      width: 100%
      pointer-events: none

      &--active
        opacity: 1
        pointer-events: all
        transition-delay: .15s

    &-header
      position: relative
      min-height: 8rem
      display: none

    &-image
      @extend .img-centered
      width: 100%
      height: 100%

    &-content
      @extend .flex-center
      position: relative
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      padding: .5rem .25rem
      width: 100%
      text-align: center
      text-decoration: none

      &:last-child
        padding-bottom: .25rem

      &--background
        padding: 1rem

        &:last-child
          padding-bottom: 1rem

      &-overlay
        position: absolute
        top: 0
        left: 0
        background: $sky-blue-50
        width: 100%
        height: 100%

    &-icon
      @include svg-size(1.5rem, 1.5rem)
      position: relative
      z-index: 2
      padding-right: .5rem
      .icon-fill
        fill: $white

    &-text
      position: relative
      z-index: 2
      cursor: pointer
      color: $brown-grey
