.navigation-desktop
  @include tablet-lg
    display: none
  position: fixed
  top: 0
  left: 0
  transform: translateZ(0)
  transition: background .25s ease-in, box-shadow .25s ease-in
  z-index: 9999
  padding: 0 3rem
  width: 100%

  &--scrolled
    box-shadow: 0 2px 2px $shadow
    background: $white

  &__container
    display: flex
    align-items: center
    justify-content: space-between
    // new addition below (covid19 adjustment)
    margin-top: 50px

  &__covid-banner
    position: absolute
    left: 0
    right: 0
    width: 100%
    top: 0
    height: 50px
    color: $white
    background-color: red
    text-decoration: none
    padding: 15px 0

    &:hover
      background-color: #8b0000

  &__covid-text
    color: $white
    text-align: center
    position: relative
    margin: 0 auto

  &__home-link
    overflow: hidden

  &__logo
    @include svg-size(15rem, 7.5rem)
    transition: transform .25s ease-in, fill .25s ease-in
    .navigation-desktop--scrolled &
      transform: translateX(-4.5rem)
      .logo-top
        fill: $sky-blue
        stroke: $sky-blue

      .logo-bottom
        fill: $light-navy
        stroke: $light-navy

  &__content
    @extend .flex-center-end
    flex-wrap: wrap

  &__links
    display: flex
    position: relative
    z-index: 99

  &__contact
    @extend .flex-center-end
    padding-top: 1rem
    padding-bottom: 1rem
    width: 100%

  &__link
    transition: padding .25s ease-in-out, color .25s ease-in
    cursor: pointer
    padding: 2rem .5rem 1rem
    text-transform: capitalize
    color: $white

    .navigation-desktop--scrolled &
      color: $sky-blue

  &__request
    @include button

  &__social
    @include svg-size(1.5rem, 1.5rem)
    @include button
    margin: 0 1rem
    border-radius: 50%
    padding: .5rem

    &:last-child
      margin: 0
