.custom-treatments-early
  @include laptop-lg
    background-position: top center
  @include tablet-lg
    background-image: none !important
    padding: 6rem 0
  position: relative
  background-repeat: no-repeat
  background-position: right
  background-size: contain
  padding: 4rem 0 0

  &__container
    @extend .container

  &__col-title
    @extend .col-12

  &__col-body
    @extend .col-7

  &__title
    padding-bottom: 2rem
    color: #103d82

  &__text-box
    min-height: 35rem

  &__content
    cursor: pointer

  &__question
    position: relative
    padding-bottom: .5rem
    padding-left: 1rem
    color: #103d82

    &:before,
    &:after
      position: absolute
      top: .75rem
      left: 0
      transform: translateY(-50%)
      transition: transform .25s ease-in
      background: #103d82
      width: .5rem
      height: 1px
      content: ''

    &:after
      transform: translateY(-50%) rotate(90deg)

    &--active
      &:after
        transform: rotate(0)

  &__answer
    opacity: 0
    padding: .5rem
    padding-top: 0
    padding-left: 1.5rem
    height: 0
    color: $brown-grey
    pointer-events: none

    ul
      margin: 0
      padding-left: 1rem

    li
      padding-top: 1rem

      &:first-child
        padding-top: 0

    a
      transition: color .15s ease-in
      text-decoration: none
      color: #103d82

      &:hover
        // sass-lint:disable-all
        color: darken(#103d82, 15%)
        // sass-lint:enable-all

    &--active
      transition: opacity .25s ease-in, height .25s ease-in
      opacity: 1
      height: auto
      pointer-events: all
