.block-testimonials
  position: relative
  padding: 7.5rem 0
  overflow: hidden

  &__background
    @include svg-size(180rem, 128.75rem)
    position: absolute
    top: 0
    left: -10rem
    fill: $white

  &__container
    @extend .container

  &__col
    @extend .col-8

    &--title
      @extend .col-4--offset

    &-images
      @extend .col-4
      position: relative
      margin-bottom: 2rem
      height: 100%
      min-height: 24rem

  &__title
    @extend h1
    @include tablet-lg
      padding-bottom: 2rem
      text-align: center
    padding-bottom: 6rem
    color: $sky-blue

  &__content-box
    @include tablet-lg
      min-height: 20rem
    @include phone-lg
      min-height: 30rem
    position: relative
    box-shadow: 4px 4px 8px 2px $shadow
    background: $white
    min-height: 24rem
    color: $brown-grey

  &__quotes
    @include tablet
      left: 2rem
    @include svg-size(8rem, 8rem)
    position: absolute
    top: -4rem
    left: 5rem

  &__slide
    @extend .img-centered
    @include tablet-lg
      top: 6rem
      transform: translateX(-50%)
      padding: 2rem
    transition: opacity .25s ease-in
    opacity: 0
    padding-right: 4rem
    padding-left: 8rem
    height: auto

    &--active
      opacity: 1
      transition-delay: .25s

  &__text
    padding-bottom: 1.5rem
    text-align: center

  &__author
    text-align: right

  &__image
    @include tablet-lg
      right: unset
      left: 50%
      transform: translate(-50%, -50%)
    @include phone
      width: 19rem
      height: 19rem
    position: absolute
    top: 50%
    right: -5rem
    transform: translateY(-50%)
    transition: top .5s linear, left.5s linear, right .5s linear, width .5s ease-in, height .5s ease-in, opacity .5s ease-in
    opacity: 0
    z-index: 9
    border-radius: 50%
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    width: 20rem
    height: 20rem
    overflow: hidden

    &--showing
      opacity: 1
      z-index: 10

    &--next
      @include tablet-lg
        top: 50%
        right: unset
        left: 50%
        transform: translate(-50%, -50%)
        width: 20rem
        height: 20rem
      @include phone
        width: 19rem
        height: 19rem
      top: -.25rem
      right: 5.75rem
      opacity: 1
      z-index: 8
      width: 15.5rem
      height: 15.5rem

    &--prev
      @include tablet-lg
        top: 50%
        right: unset
        left: 50%
        transform: translate(-50%, -50%)
        width: 20rem
        height: 20rem
      @include phone
        width: 19rem
        height: 19rem
      top: 19.75rem
      right: 10.75rem
      opacity: 1
      z-index: 7
      width: 12.5rem
      height: 12.5rem

    &-thumb
      @extend .img-centered

    &-overlay
      position: absolute
      top: 0
      left: 0
      transition: background .25s ease-in, opacity .25s ease-in
      width: 100%
      height: 100%

      .block-testimonials__image--next &
        opacity: .85
        background: $sky-blue

      .block-testimonials__image--prev &
        opacity: .85
        background: $light-navy
