@mixin button
  position: relative
  transition: box-shadow .25s ease-in
  border-radius: 3px
  box-shadow: 2px 2px 1px 1px $sky-blue
  background: $white
  padding: .5rem .75rem
  text-decoration: none
  color: $light-navy

  &:hover
    box-shadow: 2px 2px 1px 1px $sunny-yellow
