.custom-about-map
  padding: 4rem 0

  &__container
    @extend .container

  &__title
    padding-bottom: 4rem
    color: $sky-blue

  &__col-content
    @extend .col-4
    @include tablet-lg
      width: 40%
    @include phone-lg
      width: 100%

  &__col-map
    @extend .col-7
    @extend .col-1--offset
    @include tablet-lg
      width: 60%
    @include phone-lg
      width: 100%

  &__icon
    @include svg-size(2rem, 2rem)
    display: inline-block
    border-right: 2px solid $sky-blue
    border-bottom: 2px solid $sky-blue
    border-radius: 50%
    padding: .5rem

  &__subtitle
    padding-top: 1rem
    color: $light-navy

  &__address
    padding: 1rem 0
    color: $brown-grey

  &__button
    @include phone-lg
      margin-bottom: 2rem
    color: $light-navy

    &:hover
      // sass-lint:disable-all
      color: darken($light-navy, 5%)
      // sass-lint:enable-all

  &__map
    min-height: 30rem
