.custom-treatments-care
  position: relative
  z-index: -1
  background: $sky-blue-13
  padding: 6rem 0 4rem
  overflow-x: hidden

  &__container
    @extend .container

  &__col
    &-body
      @extend .col-6

    &-slider
      @extend .col-6

    &-title
      @extend .col-12

  &__title
    padding-bottom: 4rem
    color: $sky-blue

  &__icon
    @include phone-lg
      @include svg-size(10rem, 10rem)

  &__body
    padding-top: 4rem
    color: $brown-grey

  &__slider
    position: relative
    min-height: 25rem

  &__image
    @extend .img-centered
    background-position: center 20%
