.block-gradient
  @include laptop-lg
    background-position: 40% center
    background-size: cover
    &--invis
      background-position: top
      background-size: contain
  @include tablet-lg
    background-image: none !important
    padding: 6rem 0
  position: relative
  background-repeat: no-repeat
  background-position: right
  background-size: contain
  &--invis
    background-position: top
    background-size: contain
  padding: 4rem 0

  &__overlay
    @extend .img-full
    @include phone-lg
      display: none
    background-image: linear-gradient(to right, $white 60%, transparent 70%)

  &__container
    @extend .container

  &__col
    @extend .col-8

  &__title
    padding-right: 40%
    padding-bottom: 4rem
    color: $sky-blue

  &__invisalign-title
    padding-right: 40%
    padding-bottom: 4rem
    padding-left: 10px
    color: $sky-blue
    margin-top: 30px


  &__subtitle
    padding-top: 2rem
    padding-bottom: 1rem
    color: $sky-blue

    &:first-child
      padding-top: 0

  &__body
    color: $brown-grey

    &--half
      @include phone-lg
        width: 100%
      display: inline-block
      padding-top: 1rem
      padding-bottom: 1rem
      width: 50%
      vertical-align: top

    ul
      margin: 0

    a
      transition: color .25s ease-in
      text-decoration: none
      color: $sky-blue

      &:hover
        color: $flat-blue

  &__image-before, &__image-after
    @extend .col-6
    text-align: center
    padding: 10px 0
    margin-bottom: 5px

    p
      background-color: $darkish-blue
      color: white
      padding: 1%
      margin-left: 2px
      margin-right: 2px
    img
      box-shadow: 3px 3px 5px gray
      border-radius: 3px

#beforeAfterCont
  padding: 5px 10px

#beforeAfterRow
  vertical-align: middle
  // border: 2px $sky-blue solid
  border-radius: 5px
  margin: 5px 0
  padding-top: 4px
  background-color: rgba($sky-blue, 0.2)
