.block-gradient
  @include laptop-lg
    background-position: 40% center
    background-size: cover
    &--invis
      background-position: 165% center
      background-size: contain
  @include tablet-lg
    background-image: none !important
    padding: 6rem 0
  position: relative
  background-repeat: no-repeat
  background-position: right
  background-size: contain
  padding: 4rem 0

  &__overlay
    @extend .img-full
    @include phone-lg
      display: none
    background-image: linear-gradient(to right, $white 60%, transparent 70%)

  &__container
    @extend .container

  &__col
    @extend .col-8

  &__title
    padding-right: 40%
    padding-bottom: 4rem
    color: $sky-blue

  &__subtitle
    padding-top: 2rem
    padding-bottom: 1rem
    color: $sky-blue

    &:first-child
      padding-top: 0

  &__body
    color: $brown-grey

    &--half
      @include phone-lg
        width: 100%
      display: inline-block
      padding-top: 1rem
      width: 50%
      vertical-align: top

    ul
      margin: 0
