.block-gradient
  @include laptop-lg
    background-position: 40% center
    background-size: cover
    &--invis
      background-position: top
      background-size: contain
  @include tablet-lg
    background-image: none !important
    padding: 6rem 0
  position: relative
  background-repeat: no-repeat
  background-position: right
  background-size: contain
  &--invis
    background-position: top right
    background-attachment: fixed
    background-size: contain
  padding: 4rem 0

  &__overlay
    @extend .img-full
    @include phone-lg
      display: none
    background-image: linear-gradient(to right, $white 64%, transparent 63%)

  &__container
    @extend .container

  &__col
    @extend .col-8

  &__title
    padding-right: 0
    padding-bottom: 4rem
    color: #103d82

  &__invisalign-title
    padding-right: 40%
    padding-bottom: 4rem
    padding-left: 10px
    color: #103d82
    margin-top: 30px


  &__subtitle
    padding-top: 2rem
    padding-bottom: 1rem
    color: #103d82

    &:first-child
      padding-top: 0

  &__body
    color: $brown-grey

    &--half
      @include phone-lg
        width: 100%
      display: inline-block
      padding-top: 1rem
      padding-bottom: 1rem
      width: 50%
      vertical-align: top

    ul
      margin: 0

    a
      transition: color .25s ease-in
      text-decoration: none
      color: #103d82

      &:hover
        color: $flat-blue

  &__image-before, &__image-after
    @extend .col-6
    text-align: center
    padding: 10px 0
    margin-bottom: 5px

    p
      background-color: $darkish-blue
      color: white
      padding: 1%
      margin-left: 2px
      margin-right: 2px
    img
      box-shadow: 3px 3px 5px gray
      border-radius: 3px

#beforeAfterCont
  padding: 5px 10px

#beforeAfterRow
  vertical-align: middle
  // border: 2px $sky-blue solid
  border-radius: 5px
  margin: 5px 0
  padding-top: 4px
  background-color: rgba($sky-blue, 0.2)

.block-gradient__schedules
  background-attachment: fixed
  background-size: cover
  position: relative
  min-height: 200px
  background-repeat: no-repeat
  margin-top: 3em
  width: 100%

.block-gradient__schedules .block-gradient__col
  text-align: center
  width: 100%
  padding: 6em

.over-box
  position: absolute
  background: rgba(0, 0, 0, 0.5)
  width: 100%
  height: 100%
.block-gradient__schedules a
  position: relative
  z-index: 9
  text-decoration: none
  color: #fff
  font-size: 32px
  text-transform: uppercase
  background: #103d82
  padding: 14px 22px
  border-radius: 25px
  border: 2px solid #62bff2

.block-gradient__schedules a:hover
  background: #fff
  color: #103d82  

.block-gradient-image__body ul li 
  color: #7b7b7b
  font-size: 18px
  line-height: 25px

.custom-treatments-braces__body
  color: #7b7b7b
  font-size: 18px
  line-height: 25px

h4.block-gradient-newslidertitle
  padding-bottom: 3rem
  color: #103d82
  text-align: center
  font-family: Antic,sans-serif
  font-size: 48px
  font-weight: 700

.block-gradient-newslider
  padding-top: 4rem
  padding-bottom: 2rem
  padding-left: 15px
  padding-right: 15px

.invislidernew.common_slider
  max-width: 530px

.invislidernew img
  max-width: 100%

.invislidernew .common_slideinvi
  height: 100% 

.invislidernew.common_slider .swiper-button-next, .invislidernew.common_slider .swiper-button-prev
  top: 40%

@media screen and (max-width: 767px)  
  .invislidernew.common_slider .swiper-button-next .fa, .invislidernew.common_slider .swiper-button-prev .fa
    font-size: 40px    
