.block-text-image
  padding: 4rem 0
  &__container
    @extend .container

  &__col-title
    @extend .col-11
    @extend .col-1--offset

  &__col-image
    @extend .col-5
    @extend .col-1--offset

  &__col-body
    @extend .col-5

  &__col-image,
  &__col-body
    @include tablet-lg
      width: 50%
    @include phone-lg
      width: 100%

  &__slider
    position: relative
    min-height: 20rem

  &__image
    @extend .img-centered
    transition: opacity .25s ease-in
    opacity: 0

    &--active
      opacity: 1
      transition-delay: .15s

  &__title
    padding: 0 0 4rem
    color: $sky-blue

  &__body
    @include phone-lg
      padding-top: 2rem
    color: $brown-grey

    a
      transition: color .25s ease-in
      text-decoration: none
      color: $sky-blue

      &:hover
        color: $flat-blue
