.custom-home-retainer
  @include tablet-lg
    padding: 6rem 0
  @include phone-lg
    padding: 4rem 0
  position: relative
  padding: 8rem 0
  overflow: hidden

  &__background
    @extend .img-full
    @include phone-lg
      display: none
    background-repeat: no-repeat
    background-position: bottom
    background-size: cover
    height: 150%

  &__container
    @extend .container

  &__col
    @extend .col-6
    @extend .col-6--offset
    text-align: center

  &__title
    padding-bottom: 1rem
    color: $sky-blue

  &__subtitle
    padding-bottom: 1rem
    color: $sky-blue

  &__body
    color: $brown-grey
