.custom-home-retainer
  position: relative
  padding: 4rem 0
  overflow: hidden

  &__background
    @extend .img-full
    background-position: bottom
    height: 150%

  &__container
    @extend .container

  &__col
    @extend .col-6
    @extend .col-6--offset

  &__title
    padding-bottom: 2rem
    color: $sky-blue

  &__body
    padding-right: 5rem
    color: $brown-grey
