.custom-about-doctor
  padding: 6rem 0

  &__container
    @extend .container

  &__col
    &--top
      @extend .col-6
      @extend .col-1--offset
    &--mid
      @extend .col-11
      @extend .col-1--offset
    &--bottom-left
      @extend .col-6
      @extend .col-1--offset
    &--bottom-right
      @extend .col-4

  &__top-content
    @extend .flex-start
    @include phone-lg
      flex-direction: column-reverse
      align-items: center

  &__image
    @include phone-lg
      min-width: 15rem
      min-height: 15rem
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    min-height: 10rem

  &__text-box
    @include phone-lg
      padding-left: 0
    padding-left: 2rem

  &__title
    padding-bottom: 1rem
    color: $sky-blue

  &__education
    @include phone-lg
      padding-bottom: 2rem
    line-height: 1.5
    color: $brown-grey

  &__body
    color: $brown-grey
    &--mid
      @include phone-lg
        padding-top: 2rem
      padding: 4rem 0 2rem

  &__image-box
    padding-top: 4rem

  &__layer-image
    @include layer-image(20rem)
    margin: 0 auto
    width: 75%
