.custom-about-doctor
  background: $white-two
  padding: 6rem 0

  &__container
    @extend .container
    @extend .flex-stretch-start

  &__col
    &--top
      @extend .col-10
      @extend .col-1--offset

    &--mid
      @extend .col-10
      @extend .col-1--offset

    &--bottom-left
      @extend .col-5
      @extend .col-1--offset

    &--bottom-right
      @extend .col-5
      @extend .flex-center
      display: flex

  &__top-content
    @extend .flex-stretch-start
    @include phone-lg
      flex-direction: column
      align-items: center

  &__section
    padding-top: 2rem

  &__image
    @include phone-lg
      margin-bottom: 2rem
      min-width: 15rem
      min-height: 15rem

    position: relative
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    min-width: 15rem
    min-height: 15rem

  &__text-box
    @include phone-lg
      padding-left: 2rem
    box-shadow: 2px 2px 3px 1px $shadow
    background: $sky-blue-13
    padding: 2rem

    .custom-about-doctor__top-content &
      @include phone-lg
        margin-left: 0
      margin-left: 1rem

  &__title
    padding-bottom: 1rem
    color: $sky-blue

  &__education
    @include phone-lg
      padding-bottom: 2rem
    color: $brown-grey

  &__body
    color: $brown-grey

  &__image-bottom
    @include phone-lg
      margin-top: 2.5rem
      min-height: 15rem

    position: relative
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    width: 100%
    min-height: 20rem
