// -----------------------
// project colors
// -----------------------

$black-50: rgba(0, 0, 0, 0.5)
$pale-grey: #eff6ff
$pale-grey-two: #f6fbff
$brown-grey: rgba(123, 123, 123, 1)
$brown-grey-two-50: rgba(123, 123, 123, 0.5)
$lightblue: #64c0f2
$pale-purple: #eef5ff
$sky-blue: #62bff2
$sky-blue-8: rgba(98, 191, 242, 0.08)
$sky-blue-13: rgba(98, 191, 242, 0.13)
$sky-blue-50: rgba(98, 191, 242, 0.5)
$flat-blue: #386da3
$light-navy: #113e83
$darkish-blue: #00377b
$darkish-blue-68: rgba(0, 54, 123, 0.68)
$sunny-yellow: #f0eb22
$sunny-yellow-80: rgba(248, 231, 28, 0.8)
$sunny-yellow-two: #f8e71c
$white: #ffffff
$white-14: rgba(255, 255, 255, 0.75)
$white-two: #fafafa

$danger: #ff0000

// -----------------------
// box shadows
// -----------------------

$shadow: rgba(0, 0, 0, .15)

$bs1: rgba(0, 0, 0, 0.31)
$bs2: rgba(0, 0, 0, 0.17)

// -----------------------
// overlays
// -----------------------

$ol1: rgba(57, 57, 57, 0.6)
