// --------------------------------------------------------
// imports
// --------------------------------------------------------
@import './mixins/breakpoints.sass'
@import './mixins/buttons.sass'
@import './mixins/hamburgers.sass'

// --------------------------------------------------------
// fade options
// TODO: add to styleguide
// --------------------------------------------------------

@mixin fade-in($duration, $before, $after)
  transform: $before
  transition: opacity .25s ease-in
  opacity: 0
  &--fade
    transform: $after
    opacity: 1
