// --------------------------------------------------------
// imports
// --------------------------------------------------------
@import './mixins/breakpoints.sass'
@import './mixins/buttons.sass'
@import './mixins/hamburgers.sass'

// --------------------------------------------------------
// fade options
// TODO: add to styleguide
// --------------------------------------------------------

@mixin fade-in($duration, $before, $after)
  transform: $before
  transition: opacity .25s ease-in
  opacity: 0
  &--fade
    transform: $after
    opacity: 1

@mixin svg-size ($width, $height)
  font-size: 0
  svg
    width: $width
    height: $height
    @supports(display: grid)
      width: $width
      height: auto

@mixin layer-image($height, $height-max)
  position: relative
  width: 100%
  height: 100%
  min-height: $height
  max-height: $height-max

  &-image
    @extend .img-full
    z-index: 9
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    width: calc(100% - .5rem)
    height: calc(100% - .5rem)

  &-bg-1
    @extend .img-full
    top: .5rem
    left: .25rem
    z-index: 8
    background: $sunny-yellow
    width: calc(100% - .5rem)
    height: calc(100% - .5rem)

  &-bg-2
    @extend .img-full
    top: .25rem
    left: .5rem
    z-index: 7
    background: $sky-blue
    width: calc(100% - .5rem)
    height: calc(100% - .5rem)
