.custom-treatments-faq
  padding: 6rem 0 4rem

  &__container
    @extend .container

  &__col
    @extend .col-8
    @extend .col-2--offset

    &-title
      @extend .col-10
      @extend .col-1--offset

  &__title
    padding-bottom: 4rem
    color: $sky-blue

  &__content
    position: relative
    min-height: 30rem

  &__image
    @extend .img-centered

  &__subtitle
    @extend .img-centered
    height: auto
    text-align: center
    color: $white
