// --------------------------------------------------------
// units
// --------------------------------------------------------
@import './sass/units/units'

// --------------------------------------------------------
// vendors
// --------------------------------------------------------
@import './sass/vendors/*.sass'

// --------------------------------------------------------
// utilities
// --------------------------------------------------------
@import './sass/utilities/global'
@import './sass/utilities/fonts'
@import './sass/utilities/typography'
@import './sass/utilities/colors'
@import './sass/utilities/mixins'
@import './sass/utilities/extensions'
@import './sass/utilities/grid'

// --------------------------------------------------------
// components
// --------------------------------------------------------
@import './components/**/**/*.sass'

.base-hero__nav #facebook
  display: none

.apart-img
    max-width: 550px
    margin: 0px auto
    width: 80%

.band_choosernew
  margin-top: 25px
  font-size: 21px

.navigation-mobile__contact
  position: fixed
  bottom: 0
  z-index: 99999 !important
  display: block
  width: 100%
  background: #62bff2
  text-align: center
  box-shadow: 0 -1px 4px rgba(0,0,0,0.05),0 -1px 4px rgba(0,0,0,0.1)
  display: none  

.navigation-mobile__contact a
  float: left
  width: 25%
  padding: 10px 0
  text-decoration: none
  padding: 16px 0 10px 0 

.navigation-mobile__contact a:nth-child(1)
  width: 50%
  background: #fff
  padding: 15px 0
  font-weight: 500
  text-shadow: 1px 1px 1px #00000078 
  color: #103d82 

.navigation-mobile__contact a:last-of-type
  border-left: 1px solid #ededed  

.navigation-mobile__contact svg 
  width: 20px    

.fb_outerwrap
  margin-left: 43px
  padding-right: 5px

.fb_left
  float: left
  width: 18%

.fb_left .fa
  color: #0e3c81
  font-size: 70px  

.fb_right
  float: right
  width: 82%

.btn_gallery
  text-align: right
  padding-right: 25px  

.fb_right p
  margin-top: 5px
  color: #113e83
  line-height: 22px

.fb_right span
  text-transform: uppercase
  font-weight: bold  

.btn_gallery a
  background: #113e83
  color: #fff
  border: 2px solid #62bff2
  border-radius: 50px
  padding: 17px 75px
  line-height: 54px
  font-size: 24px
  text-decoration: none

.btn_gallery a:hover
  background: #fff
  color: #113e83 

.block-testimonials_wrap
  margin: 0px auto
  padding: 55px 35px 68px
  background-size: cover
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover

.block-facebook__container
  padding-top: 15px  

.block-testimonials_wrap .swiper-button-prev
  left: -6px

.block-testimonials_wrap .swiper-button-next
  right: -6px

.block-testimonials_wrap .swiper-button-prev, .block-testimonials_wrap .swiper-button-next
  top: 30%    

.testislide_body 
  color: #fff 
  line-height: 25px 

.testislide_author
  text-align: right 
  color: #fff
  padding-top: 15px
  padding-bottom: 15px

.testislide
  padding: 0 85px

.common_slider.testislider
  max-width: 861px  
  padding-right: 15px  

.block-testimonials_title h3
  color: #fff
  font-size: 31px
  text-align: center
  padding: 25px 0 50px

.customapp_section
  width: 100%

.app_left
  float: left
  width: 21%

.app_wrap img
  max-width: 100%

.app_right
  float: left
  width: 79%

.app_wrap .app_right img
  max-width: 220px

.clearfix::after
  content: ""
  clear: both
  display: table

.app_wrap
  padding-top: 20px
  position: relative

.app_wrap .custom-treatments-color__button
  padding-top: 0                

.svg_wrap
  position: relative

.svg_wrap .team_bg
  position: absolute
  top: 0 

.svg_wrap .custom-teamsvg
  left: -17px
  top: -14px

.svg_wrap .custom-teamsvg svg
  width: 109% 

.two-three .svg_wrap img
  background: none
  box-shadow: none       

.common_slider.beforeafter_slider img
  max-width: 100% 

.common_slider.beforeafter_slider .common_slide
  height: 100% 

.common_slider.beforeafter_slider .swiper-button-prev, .common_slider.beforeafter_slider .swiper-button-next  
  top: 40%    

.aftergradient_info
  text-align: center
  color: #7b7b7b
  font-size: 20px
  line-height: 25px
  padding: 40px 0
  border-bottom: 1px solid #ccc  

.common_slider
  max-width: 750px
  margin: 0px auto    

.common_slide
  height: 400px
  background-size: cover
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover  
  background-position: center center 

.common_slider .swiper-pagination-bullet
  width: 13px
  height: 13px
  background: #fff
  border: 2px solid #000
  opacity: 1  

.common_slider .swiper-pagination-bullet-active
  background: #000   

.common_slider .swiper-button-next .fa, .common_slider .swiper-button-prev .fa
  font-size: 48px
  color: #fff 

.common_slider .swiper-button-next, .common_slider .swiper-button-prev
  width: 40px
  height: 48px
  background: none 
  text-align: center 

.common_slider .swiper-pagination-bullets 
  bottom: -10px !important
  position: relative

.common_slider .swiper-container
  padding-bottom: 15px

.common_slider.meet_slider
  max-width: 450px


.common_slider.meet_slider .common_slide
  height: 320px  

.custom-teamsvg
  left: -36px
  top: -31px
  z-index: 1
  position: relative

.custom-teamsvg svg
  width: 121%

.pages-about-us .custom-about-team__layer-image-image 
  box-shadow: none
  max-width: 270px     

.custombracesouter
  position: relative  

.pages-new-patients .block-text-image__container
  flex-direction: column

.pages-new-patients .block-Investment-image__body
  display: none  

.pages-new-patients .block-Investment-image__body--active
  display: block 

.custom_beforeform_text
  z-index: 11
  text-align: center
  margin: 0px auto
  font-size: 26px
  max-width: 940px
  padding-top: 35px
  color: #7b7b7b

.custom-about-team__section--alt .custom-about-team__col-body
  text-align: right
  padding-right: 45px 

.custom-about-team__title
  font-weight: normal

.custom-about-team__body
  line-height: 33px
  padding-left: 90px      

.custom_beforeform_text span
  color: #000    

.custom-treatments-braces__background, .custom-treatments-braces__background--active
  top: 40%
  -webkit-transition: opacity 0s ease-in-out
  transition: opacity 0s ease-in-out  

.block-Investment-image__body, .contentearlyanswer
  opacity: 0
  height: 0

  &--active
    transition: opacity .25s ease-in, height .25s ease-in
    opacity: 1
    height: auto
    pointer-events: all

.pages-treatments .block-gradient.invisection
  max-width: 1201px
  margin: auto 

.go_treat
  position: relative
  -webkit-transition: -webkit-box-shadow .25s ease-in
  transition: -webkit-box-shadow .25s ease-in
  transition: box-shadow .25s ease-in
  transition: box-shadow .25s ease-in, -webkit-box-shadow .25s ease-in
  border-radius: 53px
  border: 1px solid #62bff2
  background: #113e83
  padding: 15px 25px
  text-decoration: none
  color: #fff 
  font-size: 25px 

.go_treat:hover
  background: #fff
  color: #113e83 

.custom-treatments-early__container
  padding-bottom: 150px    

.block-Included-image__title::after, .block-Included-image__title::before, .block-early-image__title::after, .block-early-image__title::before
  position: absolute
  top: .75rem
  left: 0
  transform: translateY(-50%)
  transition: transform .25s ease-in
  background: $navy-blue
  width: 15px
  height: 2px
  content: ""

.block-Included-image__title::after, .block-early-image__title::after
  transform: translateY(-50%) rotate(90deg)

.block-Included-image__title--active::after, .block-early-image__title--active::after
    transform: rotate(0)

div#accessibilityWidget
  background: #001d62
  text-decoration: none
  color: #fff
  font-size: 14px
  text-align: center
  padding: 10px 0
  cursor: pointer

.block-gradient__schedules.treatt 
  margin-top: 0 

.block-braces-schedulebtn a
  color: #fff
  font-size: 22px
  text-transform: uppercase
  background: #103d82
  padding: 14px 22px
  text-decoration: none
  border-radius: 115px
  display: inline-block
  border: 2px solid #62bff2

.food_img
  float: right

.block-gradient__body a.btn_pill
  position: relative
  transition: box-shadow .25s ease-in
  border-radius: 25px
  background: #103d82
  padding: 12px 15px
  color: #fff
  text-decoration: none
  border: 2px solid #62bff2
  margin-top: 20px
  display: inline-block 
  text-align: center 

.block-gradient__body a.btn_pill:hover
  background: #fff
  color: #103d82     

.block-braces-two-section.newbrace
  text-align: center
  margin: 10px auto

.block-braces-schedulebtn a:hover
  background: #fff
  color: #103d82
  transition: all .1s ease-in

.block-gradient.gradadult
  background-position: 40%
  background-color: #e7f1f0
  background-size: cover
  -moz-background-size: cover
  -webkit-background-size: cover
  -o-background-size: cover  

.block-gradient.gradadult .block-gradient__overlay  
  background-image: linear-gradient(90deg,#fff 60%,transparent 70%)

.block-braces-schedulebtn 
  text-align: center 
  margin-top: 20px  

.roombox
  padding-top: 40px

body .navigation-mobile__drawer
  width: 32%  

.navigation-mobile__link > a
  color: #113e83
  text-decoration: none
  display: inline-block

.btnn
  margin-right: 30px
  right: 0
  position: absolute
  cursor: pointer

body .navigation-mobile__drawer
  background: #ffffff

.navigation-mobile__btnn--active .fa-angle-down::before
  content: '\f106'

.navigation-desktop--scrolled .navigation-mobile__hamburger span
  background: $white

.custom-home-hero
  position: fixed
  height: 100vh
  width: 100%  

.home_herocaption
  height: 100vh
  z-index: 10
  display: flex
  display: -webkit-flex
  align-items: flex-end
  -webkit-align-items: flex-end
  padding-bottom: 90px 
  max-width: 1150px
  margin: 0px auto

.home_heroo
  position: relative
  display: block

.block-testimonials__title
  color: #103d82 

.block-testimonials__background
  display: none

body .block-facebook
  background: rgba(98, 191, 242, 0.13) 
  padding-bottom: 80px    

.block-facebook__background-overflow
  width: 100%  

.docwelcome
  position: relative
  background: #fff

.docwelcome a
  text-decoration: none
  line-height: 54px
  color: #113e83
  font-size: 21px

.docwelcome a:hover i
  margin-left: 5px
  -webkit-transition-duration: 0.3s
  -moz-transition-duration: 0.3s
  -o-transition-duration: 0.3s
  -ms-transition-duration: 0.3s
  transition-duration: 0.3s

.docwelcome .docwelcome_img::before
  content: ""
  height: 100%
  width: 100%
  top: -30px
  left: -30px
  background: #D5E4E3
  display: block
  position: absolute

.docwelcome .docwelcome_img::after
  content: ""
  height: 100%
  width: 100%
  bottom: -30px
  right: -30px
  background: #BFD6E8
  display: block
  position: absolute

.docwelcome .docwelcome_img img
  position: relative
  z-index: 2
  display: block
  margin: 0 0 40px
  max-width: 460px
  width: 100%

.docwelcome_container
  max-width: 1150px
  margin: 0px auto
  display: block
  padding-left: 20px  

.docwelcome_row
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -webkit-align-items: center
  align-items: center  
  padding: 60px 0

.docwelcome_colright
  width: 50%
  position: relative 
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

.docwelcome_img
  position: relative
  display: block
  margin: 54px   

.docwelcome_colleft
  width: 50%
  padding-right: 60px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box 
  text-align: center

.docwelcome_colleft h1
  color: #103d82
  font-size: 37px
  margin: 0 92px  

.custom-new-contact__col-info.customcolor
  margin-top: 35px 

.custom-new-contact__container
  justify-content: center   

.docwelcome_colleft p
  color: #7b7b7b
  font-family: $roboto-slab
  font-size: 18px
  line-height: 25px 
  padding: 0 35px 

body .block-early-image__body
  padding: 0 15px 0 25px    

.threesection
  position: relative
  background: rgb(191, 214, 232)
  text-align: center
  color: #fff
  padding-bottom: 0
  padding-top: 55px

.threesection img
  max-width: 100%

.full h3
  margin-bottom: 20px
  font-size: 48px 

.full h4
  margin-bottom: 50px
  font-size: 25px 

.one-three h3
  font-size: 24px
  padding: 15px 0 0

.full h5
  font-size: 26px
  max-width: 880px
  margin: 0px auto
  line-height: 31px
  padding-bottom: 35px

.one-three p
  color: #fff
  font-family: $roboto-slab
  font-size: 18px
  line-height: 25px
  padding: 0 15px

.custom_fb
  padding-bottom: 0px
  background: #fff
  position: relative  

.custom-home-tabs__container
  display: none

.block-facebook__title 
  opacity: 0  
  
.block-facebook
  background: #fff
  padding-top: 0   

.one-three a, .two-three a
  text-decoration: none
  line-height: 54px
  color: #fff
  font-size: 20px

.one-three a:hover i, .two-three a:hover i
  margin-left: 5px
  -webkit-transition-duration: 0.3s
  -moz-transition-duration: 0.3s
  -o-transition-duration: 0.3s
  -ms-transition-duration: 0.3s
  transition-duration: 0.3s         

.threesection .one-three img
  max-width: 90%
  padding: 20px
  background: #D5E4E3
  border-radius: 10px
  box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.15)

.thress-section
  display: flex
  flex-wrap: wrap
  border-bottom: 1px
  solid #fff   
  padding-bottom: 40px

.two-section
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  flex-wrap: wrap

.one-three
  width: 33.3%
  min-width: 350px

.two-three
  width: 50%
  min-width: 350px
  padding: 5%   

.custom-about-doctor__col--bottom-right
  background: none  

.home_herocaption h1
  bottom: 0
  color: #113e83
  position: relative
  max-width: 350px 
  text-shadow: 0px 0px 5px #fff

.home_herocaption i
  font-size: 26px
  top: -2px
  position: relative
  margin-left: 15px    

.doc_testimonial
  max-width: 540px
  margin: 0px auto
  padding-bottom: 60px

.doc_testimonial p 
  font-size: 23px
  color: #7b7b7b
  margin-bottom: 15px  

.doc_testimonialname
  text-align: right
  font-size: 24px
  color: $navy-blue

.aboutdocimg
  position: relative
  background: rgba(17, 62, 131, 0.13)
  padding: 10px
  display: flex
  align-items: center

.aboutdocroom .custom-about-doctor__image
  min-height: 18rem
  min-width: 13rem

.aboutdocroom
  display: flex  

.aboutdocroominner
  position: relative
  background: rgba(17, 62, 131, 0.13)
  padding: 15px
  display: flex
  align-items: center
  margin: 0 10px

.custom-about-meet__slider .custom-about-community__prev
  left: 0
  z-index: 10
  border: none
  width: 51px

.custom-about-meet__slider .custom-about-community__next
  right: 0
  z-index: 10
  border: none
  width: 51px  

.custom-about-meet
  z-index: 10 
  overflow-y: hidden

.team__designation
  color: #103d82
  margin-bottom: 20px
  font-size: 21px

.custom-about-team__layer-image-bg-2
  background: $navy-blue 
  
.custom-home-banner
  display: none

.nav_manual 
  display: flex
  align-content: center

.navigation-mobile__hamburger
  margin-top: 26px
  margin-left: 25px

.navigation-desktop__container
  padding: 10px

.navigation-mobile__drawer
  width: 400px
  background: #62bff2

.navigation-mobile__link-text
  font-size: 21px
  text-transform: uppercase
  color: #113e83
  font-weight: 600    

.navigation-mobile__sublink
  color: #315ea3
  font-size: 16px
  line-height: 12px  

.manualmenu a
  text-transform: uppercase
  color: #113e83
  text-decoration: none
  font-weight: bold
  font-family: $roboto-condensed

.navigation-mobile__hamburger
  cursor: pointer          

h1.block-apart-image__title 
  margin-bottom: 26px

.patients-imgs
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  border-bottom: 1px
  padding-bottom: 40px

.patients-three 
  width: 33.3%
  min-width: 350px

.patients-three img
  max-width: 95%
  padding: 20px
  background: #D5E4E3
  margin-top: 5px

h1.custom-new-patients__title 
  margin-bottom: 20px
  font-size: 48px
  text-align: center
  color: #103d82
  text-transform: capitalize

.custom-new-patients__education
  color: #7b7b7b
  font-size: 18px
  line-height: 25px

.block-Investment-image__col-title
  width: 100%

h1.block-Investment-image__title
  color: #103d82
  font-size: 48px
  font-weight: bold
  text-align: center

.block-main-Investment
  display: -ms-flexbox
  display: -webkit-box
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  padding: 40px 0

.block-Investment-image__col-body 
  width: 50%
  position: relative
  -webkit-box-sizing: border-box
  box-sizing: border-box

.block-Investment-image__col-image
  width: 50%
  position: relative
  -webkit-box-sizing: border-box
  box-sizing: border-box

.Investment-img img 
  max-width: 90%
  padding: 30px 30px
  background: #BFD6E8

.block-Investment-image__body p
  color: #7b7b7b
  font-size: 18px
  line-height: 25px

.block-Investment-image__body p a
  color: #103d82
  text-decoration: none
  font-weight: 500

h2.block-Included-image__title.left-text
  color: #103d82
  margin-bottom: 12px
  font-size: 24px
  padding-left: 25px
  cursor: pointer

.block-Investment-image__body ul li, .block-Investment-image__body
  color: #7b7b7b
  font-family: $roboto-condensed
  font-size: 18px
  line-height: 25px

.block-text-image__container
  margin-bottom: 25px

h1.block-Investment-image__title
  margin-top: 45px

.custom-new-free__col-section
  position: relative
  z-index: 99
  display: -ms-flexbox
  display: -webkit-box
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  padding: 40px 0

.freeleftimg
  width: 50%
  position: relative
  -webkit-box-sizing: border-box
  box-sizing: border-box

.freeform
  width: 50%
  position: relative
  -webkit-box-sizing: border-box
  box-sizing: border-box
  padding: 10px

.freeleftimg img
  max-width: 90%
  padding: 30px
  background: #BFD6E8

.form-free__group--phone
  width: 100%

.custom-new-free__title, h1.custom-new-contact__title
  color: #103d82

h1.block-apart-image__title
  margin-top: 45px
  color: #103d82
  font-size: 48px
  font-weight: bold
  text-align: center

.block-apart-image__col-title
  width: 100%;

.block-main-apart
  display: -ms-flexbox
  display: -webkit-box
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  padding: 40px 15px
  border-bottom: 1px solid #ccc
  flex-wrap: wrap

.block-apart-image__col-image
  width: 50%
  position: relative
  -webkit-box-sizing: border-box
  box-sizing: border-box

.apart-img img
  max-width: 100%
  padding: 30px 30px
  background: #BFD6E8

.block-apart-image__col-body
  width: 50%
  position: relative
  -webkit-box-sizing: border-box
  box-sizing: border-box

h2.block-apart-image__title.left-text
  color: #103d82
  font-size: 34px
  text-align: left
  margin-bottom: 12px

.pages-halvorsen-difference h2.block-apart-image__title.left-text, .pages-halvorsen-difference h3.block-apart-info-heading
  text-align: center  

h3.block-apart-info-heading
  color: #103d82
  font-size: 34px
  text-align: left
  margin-bottom: 20px
  font-weight: 200
  margin-top: 20px
h3.block-apart-info-heading-small
  color: #103d82
  font-size: 20px
  text-align: left
  margin-bottom: 0px
  margin-top: 20px
  padding-top: 15px
  padding: 15px
  text-align: center
  position: relative
  top: 25px
  background: #BFD6E8

.block-apart-image__body p, .block-apart-image__body
  color: #7b7b7b
  font-size: 18px
  line-height: 25px

.block-apart-image__body li
  color: #7b7b7b
  font-size: 18px
  line-height: 25px

.reverse-apart
  flex-direction: row-reverse

.reverse-apart .apart-img
  text-align: right

.block-gradient
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  -webkit-box-align: stretch
  -ms-flex-align: stretch
  align-items: stretch
  -webkit-box-pack: start
  -ms-flex-pack: start
  justify-content: flex-start
  margin: 0 auto
  width: 100%

.base-hero__nav
  background: rgba(17, 62, 131, 0.5)

.block-gradients-image__col-title 
  width: 100%
  margin-top: 25px
  color: #103d82
  font-size: 48px
  font-weight: bold
  text-align: center
  margin-bottom: 20px

.block-gradient-divi
  display: -ms-flexbox
  display: -webkit-box
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  -ms-flex-wrap: wrap
  flex-wrap: wrap

.block-gradient-image__col-body
  width: 50%
  position: relative
  -webkit-box-sizing: border-box
  box-sizing: border-box

.block-gradient-image__col-image
  width: 50%
  position: relative
  -webkit-box-sizing: border-box
  box-sizing: border-box
  text-align: right

.gradient-img img
  max-width: 90%
  padding: 30px 30px
  background: #BFD6E8

.block-gradient-image__col-full
  width: 90%
  max-width: 980px
  margin: 25px auto

.block-gradient-image__col-full img
  width: 100%
  padding: 30px 30px
  background: #BFD6E8
  object-fit: cover
  max-width: 100%

.block-gradient-image__body ul li a
  color: #103d82
  text-decoration: none

.custombracesouter .braces-img img
  display: none  

.braces-imgs
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  border-bottom: 1px
  padding-bottom: 40px
  margin-top: 0px

.braces-three
  width: 33.3%
  min-width: 350px

.braces-three img
  max-width: 95%
  padding: 20px
  background: #D5E4E3
  margin-top: 5px

.custom-treatments-braces__col-body
  width: calc((12 / 12) * 100%)

.block-braces-two-section
  display: -ms-flexbox
  display: -webkit-box
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  padding: 40px 0
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  background-repeat: no-repeat
  background-position: bottom right

.block-braces-two-section .custom-treatments-braces__container
  border-bottom: 1px solid #ccc  

.block-braces-image__col-body
  width: 50%
  position: relative
  -webkit-box-sizing: border-box
  box-sizing: border-box

.block-braces-image__body
  color: #7b7b7b
  font-size: 18px
  line-height: 25px
  min-height: 240px

.block-braces-image__col-image
  width: 50%
  position: relative
  -webkit-box-sizing: border-box
  box-sizing: border-box
  text-align: right

.custom-treatments-braces__button
  margin-top: 20px
  display: inline-block  

.braces-img img
  max-width: 95%
  padding: 30px 30px
  background: #BFD6E8

.block-braces-divi
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  border-bottom: 1px
  padding-bottom: 40px

.block-braces-image__body a
  transition: color .25s ease-in
  text-decoration: none
  color: #103d82

.custom-treatments-braces__body
  padding-top: 3em
  max-width: 490px

h2.block-early-image__title.left-text
  color: #103d82
  padding-left: 25px
  cursor: pointer

.block-early-image__body
  color: #393737
  font-size: 18px
  line-height: 25px
  width: 100%
  margin-top: 0

.block-gradient__col
  padding-right: 45px

.block-gradient__body
  color: #7b7b7b
  font-size: 18px
  line-height: 25px

.block-gradient__body--half
  width: 100%

.navigation-mobile__drawer
  right: 0
  left: auto

.navigation-mobile__hamburger span
  background: #103d82


.navigation-mobile__link
  padding: 1rem 20px
  text-align: left
  color: #113e83

.navigation-mobile__link > a
  color: #7b7b7b
  text-transform: uppercase
  color: #113e83
  font-weight: 600 
  font-size: 21px 

.navigation-mobile__sublink
  text-transform: uppercase
  color: #113e83
  font-weight: 600
  padding-left: 15px

.one-three a, .two-three a
  padding: 12px 20px
  border-radius: 50px
  -webkit-box-shadow: 2px 2px 1px 1px #62bff2
  box-shadow: 2px 2px 1px 1px #62bff2
  background: #ffffff
  padding: 0.5rem 0.75rem
  text-decoration: none
  color: #113e83

.navigation-desktop__request
  padding: 1rem 2rem
  font-size: 25px

.new_golist
  border-bottom: 1px solid #113e83

.common_slider.beforeafter_slider.newfullwidth
  max-width: 1000px  

.custom-about-doctor__education
  text-align: justify
  line-height: 25px

.roombox .custom-about-doctor__text-box
  margin-left: 0 
  padding-left: 15px
  padding-right: 15px

.roombox .custom-about-doctor__education 
  text-align: center

.roombox .custom-about-doctor__text-box  
  display: flex
  align-items: center  

.custom-about-doctor__body
  text-align: justify
  line-height: 25px

.custom-about-meet__slider .custom-about-meet__image
  width: 80%
  height: 80% 

.custom-about-meet__slider
  background: rgb(191, 214, 232)

.custom-new-patients__education p
  text-align: justify

.block-gradient__schedules
  background-attachment: inherit

.block-gradient__schedules a
  border-radius: 30px

.block-gradient-image__body ul li.bold-text
  font-weight: 600

.braces-img
  text-align: center

.custom-new-contact__container .custom-new-contact__col-info, .custom-new-contact__container .custom-new-contact__col-form
  background: #BFD6E8
  padding: 50px

.custom-treatments-braces__section .block-braces-divi
  margin-top: 20px
.block-braces-image__col-image:nth-child(2) .braces-img img
  float: right

.custom-treatments-braces__section .braces-img img
  float: left

.custom-treatments-braces__section .block-braces-divi
  margin-top: 20px

.block-gradient__image-before
  padding-right: 7px

.custom-about-meet__body
  line-height: 25px  

.block-gradient__image-after
  padding-left: 7px

.block-early-image__body
  max-width: 530px

.block-early-image__body
  text-align: justify
  padding: 15px
  padding-left: 25px
  background: rgba(255,255,255,0.5)

.block-gradient
  position: relative
  background-repeat: no-repeat
  background-position: 100%
  background-size: contain
  padding: 4rem 0

.base-container .block-gradient.block-gradient--invis
  max-width: 1201px
  margin: auto

.custom-treatments-early
  background-position: top right

.custom-about-sponsorship__slider
  max-width: 90%
  padding: 30px 30px
  background: #BFD6E8
  margin: auto

.custom-about-sponsorship .custom-about-sponsorship__image
  width: 90%
  height: 85%

a.custom-about-lives__button:hover i
  margin-left: 5px
  -webkit-transition-duration: 0.3s
  transition-duration: 0.3s

.custom-about-community__slider
  background: #bfd6e8
  max-width: 900px
  width: 100%
  margin: auto

.custom-about-community__slide
  width: 86%
  height: 84%

.custom-about-community__prev
  left: 0rem
  border: 0

.custom-about-community__next
  right: 0rem
  border: 0

.custom-treatments-braces__button
  display: none

.custom-about-doctor__col--bottom-right
  background: rgba(17, 62, 131, 0.13)
  padding: 10px 30px
  border-radius: 10px

.aboutdocimg
  border-radius: 10px

.aboutdocroominner
  border-radius: 10px

.braces-three img 
  border-radius: 10px

.braces-img img
  border-radius: 10px

.block-early-image__body
  max-width: 100%

.custom-treatments-early__container
  justify-content: left

div#beforeAfterCont
  justify-content: center

.block-gradient__schedules.treatt
  background-image: none !important

.custom-treatments-early .over-box
  background: #fff

.custom-treatments-early .block-gradient__schedules .block-gradient__col 
  padding: 0 6em

.block-gradient__schedules.treatt
  margin-top: 0

.page-id-42 .the-footer 
  padding-top: 0rem

.custom-treatments-emergencies__answer.custom-treatments-emergencies__answer--active
  padding-bottom: 1rem

h1.custom-treatments-color__title.edit45
  padding-top: 20px
  text-align: left
  position: relative
  left: -17%
  padding-bottom: 20px

.patients-three img
  border-radius: 10px
  box-shadow: 1px 1px 10px 0px #000

.Investment-img img
  background: #D5E4E3
  border-radius: 10px

.custom-treatments-faq__content.hid
  display: none

.custom-treatments-faq__slider.faqslider
  background: #bfd6e8
  max-width: 900px
  width: 100%
  margin: auto

.custom-treatments-faq__slide
  width: 86%
  height: 84%

.custom-treatments-faq__prev
  left: 0rem
  border: 0

.custom-treatments-faq__next
  right: 0rem
  border: 0

.docwelcome .docwelcome_img::before
  box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.15)

.docwelcome .docwelcome_img::after  
  box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.15)

.docwelcome .docwelcome_img img
  box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.15)

.two-three img
  box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.15)
  padding: 20px;
  background-color: #D5E4E3
  margin-bottom: 20px

.custom-about-meet__slider
  border-radius: 10px
  box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.15)

.custom-about-team__layer-image-bg-1
  top: -20px
  left: -20px
  background: #D5E4E3
  box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.15)

.custom-about-team__layer-image-bg-2
  top: 20px
  left: 20px
  background: #D5E4E3
  box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.15)

.custom-about-team__layer-image-image  
  box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.15)

.custom-about-team__section--alt .custom-about-team__col-body
  margin-right: 15px

.custom-treatments-faq__slider.faqslider
  background: #bfd6e8
  max-width: 670px
  width: 100%
  border-radius: 10px
  box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.15)


.custom-treatments-faq__slide
  width: 62%
  height: 88%

.navigation-desktop--scrolled .navigation-mobile__hamburger span
  background: #62bff2  

.home_herocaption
  padding-bottom: 30px
  text-align: center

.home_herocaption h1
  color: #fff
  width: 100%
  max-width: inherit
  text-shadow: none

.custom-about-doctor_btn a
  border-radius: 50px
  background: #113e83
  padding: 9px 15px
  text-decoration: none  
  color: #fff
  margin-top: 20px
  border: 1px solid #62bff2

.custom-about-doctor_btn a:hover
  background: #fff
  color: #113e83
  border: 1px solid #62bff2 

.custom-about-doctor_btn
  margin-bottom: 6px

.one-three a, .two-three a
  background: #113e83
  color: #fff
  border: 1px solid #62bff2
  box-shadow: none  

.one-three a:hover, .two-three a:hover
  background: #fff
  color: #113e83
  border: 1px solid #62bff2 
  box-shadow: none

.full.bottom
  background-color: #112750
  padding: 50px
  display: block
  margin: 40px 0

.full.bottom h5
  padding-bottom: 0

a.go_treat
  display: table
  margin: auto
  margin-top: 20px

.full.top h3
  color: #113e83

.full.top h4
  color: #113e83

.threesection .one-three img
  max-width: 100%
  padding: 0px
  background: none
  border-radius: 0px    
  box-shadow: none

.docwelcome_container .thress-section .one-three
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
  transition: 0.3s
  background-color: #fff
  margin-left: 15px
  margin-right: 15px

.docwelcome_container .thress-section .one-three
  width: 30.5%
  min-width: 345px

.docwelcome_container .thress-section .one-three:hover
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)

.docwelcome_container .thress-section .one-three h3, .docwelcome_container .thress-section .one-three p
  color: #113e83   


.docwelcome_container .thress-section .one-three a
  line-height: 100px

.custom-about-meet__background
  top: -35rem
  left: -30rem

.custom-about-sponsorship__background
  top: -30rem
  left: -30rem

.block-gradient-image.remove
  display: none

.base-lazy-bg.custom-treatments-braces__background.custom-treatments-braces__background--active
  background-position: 90%

.block-braces-divi.custom-treatments-braces__imgg.custom-treatments-braces__imgg--active .braces-imgs
  display: none

.custom-treatments-braces__section.custom-treatments-braces__imgg.custom-treatments-braces__imgg--active .block-braces-divi
  display: none

.custom-treatments-early
  background-size: auto
  background-position: 90% 10%

.block-gradient.gradadult
  background-position: 100%
  background-color: #e7f1f0
  background-size: auto
  -moz-background-size: auto
  -webkit-background-size: auto
  -o-background-size: auto

.custom-treatments-color__background-image
  background-size: contain
  background-position: 30%

.custom-new-contact__col-form
  display: none

body #beforeAfterCont
  padding: 0  

.block-early-image__body ul
  padding-left: 20px
  margin-top: 0

.contentearlyanswer .block-text-image__container.beforefirst
  justify-content: center
  -webkit-justify-content: center  
  margin-bottom: 0   

@media (min-width: 1400px) and (max-width: 2400px)
  body .navigation-mobile__drawer
    width: 19.5%

@media screen and (max-width: 1024px)

  body .navigation-mobile__drawer
    width: 100%

  .docwelcome_row
    flex-wrap: wrap

  .docwelcome_colleft
    width: 100%
    padding-right: 15px
    padding-left: 15px

  .docwelcome_colright
    width: 100%

  .docwelcome_container
    padding-left: 0px

  .one-three
    min-width: 350px
    margin: auto
    max-width: 550px

  .docwelcome .docwelcome_img img
    max-width: 100%

  .docwelcome_img
    margin: 50px 25px

  .navigation-mobile__covid-text
    display: none

  .navigation-mobile__covid-banner
    display: none

  .two-three
    width: 100%
    max-width: 550px

  .home_herocaption h1
    padding-left: 15px

  .custom-new-patients__top-content
    padding: 0 15px

@media (min-width: 1025px) and (max-width: 1300px)   
  // .custom-home-hero, .home_herocaption
    // height: 50vh

  .docwelcome_container .thress-section .one-three
    width: 29.5%
    min-width: 300px

  .custom-treatments-color
    padding-top: 15px  

  .home_herocaption
    padding-left: 25px

  .docwelcome_img
    margin: 40px 25px
    padding: 15px

  .docwelcome .docwelcome_img::before
    height: 84%
    width: 92%
    top: -13px
    left: -10px

  .docwelcome .docwelcome_img::after
    height: 84%
    width: 92%
    bottom: 30px
    right: -7px

  .docwelcome .docwelcome_img img
    max-width: 422px

  .docwelcome_colleft h1
    margin: 0 72px

  .one-three
    min-width: 330px

  .docwelcome_img
    max-width: 456px 

  .custom-about-doctor__image
    min-width: 21rem

  .aboutdocimg
    padding: 25px

  .aboutdocroom .custom-about-doctor__image
    min-width: 13rem

  .custom-about-doctor__top-content .custom-about-doctor__text-box
    margin-left: 0   

  .apart-img img
    max-width: 100% 

  .block-tabs-wheel, .custom-new-free__col-section
    padding-left: 15px
    padding-right: 15px

  .base-container .block-gradient.block-gradient--invis
    padding-left: 15px
    padding-right: 15px

  .custom-treatments-color__title
    padding-left: 15px

  .custom-treatments-color__text-box
    padding-right: 115px  

  .block-braces-divi
     padding-left: 15px
     padding-right: 15px

  .braces-three   
    min-width: auto 

  .pages-about-us .custom-about-team__layer-image-image
    max-width: 250px

  .team_bg
    max-width: 265px

  .pages-about-us .custom-about-team__layer-image-image
    height: 80%

  .custom-teamsvg svg
    width: 295px 

  .pages-about-us .custom-about-team__layer-image-image
    max-width: 228px   

  .custom-teamsvg
    left: -35px
    top: -35px   

  .svg_wrap .custom-teamsvg svg
    width: 108%
    max-width: 500px    

  .svg_wrap .custom-teamsvg
    left: -13px
    right: 0
    top: -11px

  .svg_wrap .team_bg
    width: 100%
    left: 0
    right: 0
    max-width: 100% 

  .svg_wrap
    text-align: center      


@media (min-width: 768px) and (max-width: 1024px)    
  .navigation-mobile__home 
    margin: 1.5rem

  .base-lazy-bg.custom-treatments-braces__background.custom-treatments-braces__background--active 
    background-position: 96%

  .fb_outerwrap
    margin-left: 14px

  .common_slider.testislider
    padding-right: 0  

  .fb_left
    width: 20%   

  .fb_right
    width: 80%

  .btn_gallery a
    padding: 17px 32px
    line-height: 53px
    font-size: 21px

  .block-testimonials__container
    display: block

  .block-testimonials
    margin: 0 15px
    padding: 4.5rem 0 10px        

  .team_bg 
    max-width: 265px

  .docwelcome_container .thress-section
    justify-content: center

  .docwelcome_container .thress-section .one-three
    width: 28.5%
    min-width: auto
    margin-top: 0

  .docwelcome_container .thress-section .one-three h3
    padding-left: 10px
    padding-right: 10px
    font-size: 21px            

  .navigation-mobile__hamburger
    margin-right: 25px  

  .navigation-mobile .navigation-mobile__link 
    text-align: center

  .navigation-mobile .navigation-mobile__link-text, .navigation-mobile .navigation-mobile__link > a
    font-size: 30px

  .navigation-mobile .navigation-mobile__sublink
    padding-left: 0
    line-height: 20px
    font-size: 17px

  // .custom-home-hero, .home_herocaption
  //   height: 50vh 
    
  .docwelcome_img
    max-width: 450px
    margin: 60px auto

  .one-three
    margin-bottom: 45px

  .two-three
    margin: 20px auto

  .threesection img
    margin-bottom: 15px

  .custom-about-doctor__image
    min-width: 19rem

  .aboutdocroom .custom-about-doctor__image
    min-width: 11rem

  .custom-about-doctor__top-content .custom-about-doctor__text-box
    margin-left: 0

  .aboutdocimg  
    margin-left: 15px
    padding: 25px

  .custom-about-doctor__top-content
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    justify-content: center
    -webkit-justify-content: center

  .custom-about-meet, .custom-about-sponsorship, .custom-about-lives, .custom-about-community
    text-align: center

  .custom-about-meet__col-slider, .custom-about-lives__col-right
    margin-top: 20px 

  .custom-about-lives__image
    background-position: center center

  .custom-about-sponsorship__col-body
    margin-bottom: 25px 

  .block-main-apart
    padding-left: 15px
    padding-right: 15px 

  .apart-img
    padding: 0 15px

  .apart-img img
    max-width: 100%

  .block-apart-image__col-image, .block-apart-image__col-body
    width: 100%  

  .patients-three
    min-width: auto 

  .block-Investment-image__col-image, .block-Investment-image__col-body
    width: 100%

  .block-main-Investment
    display: block

  .block-tabs-wheel, .custom-new-free__col-section
    padding-left: 15px
    padding-right: 15px

  .block-Investment-image__col-image, .block-Investment-image__col-body
    text-align: center  

  .block-Investment-image__col-title
    padding-top: 15px 

  .base-container .block-gradient.block-gradient--invis
    padding-left: 15px
    padding-right: 15px

  .block-gradient__image-before, .block-gradient__image-after
    width: 50% 

  .block-braces-divi
     padding-left: 15px
     padding-right: 15px

  .braces-three   
    min-width: auto

  .custom-about-team__section--alt .custom-about-team__col-body
    text-align: right
    padding-right: 0

  .custom-about-team__title
    font-size: 30px

  .custom-teamsvg
   top: -21px

  .pages-about-us .custom-about-team__layer-image-image
    max-width: 250px      

  .navigation-mobile--scrolled .navigation-mobile__hamburger span
    background: #62bff2

  .custom-about-team__section--alt .custom-about-team__col-body
    margin-right: 0 

  .svg_wrap .custom-teamsvg svg
    width: 108%
    max-width: 500px    

  .svg_wrap .custom-teamsvg
    left: -13px
    right: 0
    top: -11px

  .svg_wrap .team_bg
    width: 100%
    left: 0
    right: 0
    max-width: 100% 

  .svg_wrap
    text-align: center

  .custom-treatments-color
    padding-top: 3rem                                                     

@media screen and (max-width: 767px)
  .navigation-mobile__home 
    margin: 1.5rem

  .app_wrap .app_right img
    max-width: 100%    

  .navigation-mobile__contact
    display: block    

  div#accessibilityWidget
    margin-bottom: 51px  

  h1.custom-new-patients__title
    font-size: 33px;  

  .custom-treatments-color
    padding: 6rem 0 4rem

  .custom-treatments-early .block-gradient__schedules .block-gradient__col
    padding: 0 3em

  .custom-treatments-early__container
    padding-bottom: 40px    

  .block-testimonials__container
    display: block 

  .fb_outerwrap
    margin-left: 0
    padding-right: 0  

  .block-testimonials_wrap
    padding: 15px 15px 15px
    background-position: top center
    margin: 0 15px

  .common_slider.testislider
    padding-right: 0

  .common_slider .swiper-button-next .fa, .common_slider .swiper-button-prev .fa
    font-size: 25px

  .block-testimonials_title h3
    padding: 65px 0 30px    

  .testislide
    padding: 0 25px

  .block-testimonials_wrap .swiper-button-prev
    left: -10px  

  .block-testimonials_wrap .swiper-button-next
    right: -10px

  .testislide_body
    font-size: 18px

  .testislide_author
    margin-bottom: 75px             

  .btn_gallery
    text-align: center
    padding-right: 0 

  .btn_gallery a
    padding: 5px 20px
    line-height: 43px
    font-size: 20px
    margin-top: 25px
    display: inline-block

  .fb_right p
    padding-left: 10px
    font-size: 16px  

  .block-testimonials
    background: rgba(98, 191, 242, 0.13)         

  .custom-treatments-color h1.custom-treatments-color__title
    left: -4% 

  .custom-treatments-color__content
    min-height: 47rem  

  .food_img
    float: none
    max-width: 100%

  .docwelcome_container .thress-section .one-three
    width: 100%
    min-width: auto
    max-width: 400px
    margin: 25px auto

  .docwelcome_container .custom_row
    padding: 0 15px

  .docwelcome_container .two-section .two-three
    min-width: auto

  #treatments
    padding-left: 0
    padding-right: 0   

  .custom-about-team__section--alt .custom-about-team__col-body 
    padding-right: 15px

  .custom-about-team__title 
    font-size: 40px

  .custom-about-team__body
    padding-left: 0      

  .navigation-mobile .navigation-mobile__link 
    text-align: center

  .navigation-mobile .navigation-mobile__link-text, .navigation-mobile .navigation-mobile__link > a
    font-size: 25px 

  .navigation-mobile .navigation-mobile__sublink
    padding-left: 0
    line-height: 20px

  .custom-home-hero, .home_herocaption
    height: 60vh
    padding-bottom: 45px

  .docwelcome_colleft h1
    font-size: 30px
    margin: 0 

  .docwelcome_colleft p
    padding: 0

  .docwelcome_img
    margin: 40px 25px
    padding: 15px

  .docwelcome .docwelcome_img::before
    height: 80%
    width: 90%
    top: -10px
    left: -8px

  .docwelcome .docwelcome_img::after
    height: 80%
    width: 88%
    bottom: 30px
    right: -7px 

  .docwelcome_row
    padding-bottom: 10px

  .threesection
    padding-left: 15px
    padding-right: 15px

  .full h3
    font-size: 36px

  .one-three
    padding-bottom: 45px

  .two-section
    padding-top: 65px

  .threesection img
    margin-bottom: 15px  

  .block-testimonials
    padding: 3.5rem 0 0

  .fb_left .fa
    font-size: 64px

  .testislide
    text-align: center  

  .block-facebook__body
    text-align: center

  .custom-about-doctor__image
    min-width: 18rem
    min-height: 18rem
    margin-bottom: 0

  .aboutdocimg
    padding: 20px
    max-width: 360px
    margin: 20px auto
    justify-content: center
    -webkit-justify-content: center

  .custom-about-doctor__top-content .custom-about-doctor__text-box
    text-align: center
    padding-left: 15px
    padding-right: 15px

  .custom-about-doctor__section
    padding-top: 0 

  .custom-about-doctor__education
    padding-bottom: 0  

  .custom-about-doctor__text-box
    padding-left: 15px
    padding-right: 15px

  .aboutdocroom
    display: block
    margin-top: 35px

  .custom-about-doctor__top-content 
    display: block

  .aboutdocroominner
    display: block
    margin: 20px auto
    max-width: 310px

  .custom-about-community__prev, .custom-about-community__next
    top: 50%

  .custom-about-meet__slider .custom-about-community__prev, .custom-about-meet__slider .custom-about-community__next
    width: 38px

  .custom-about-meet, .custom-about-sponsorship, .custom-about-lives, .custom-about-community
    text-align: center

  .custom-about-meet__col-slider, .custom-about-lives__col-right
    margin-top: 20px 

  .custom-about-lives__image
    background-position: center center

  .custom-about-sponsorship__col-body
    margin-bottom: 25px 

  .custom-about-map
    padding: 7rem 15px

  .custom-about-map__col-map, .custom-about-meet__title, .custom-about-sponsorship__col-title
    margin-top: 15px  

  .block-main-apart
    padding-top: 60px
    padding-left: 15px
    padding-right: 15px 

  .block-apart-image__col-image, .block-apart-image__col-body
    width: 100%

  .apart-img img
    max-width: 100%

  .block-apart-image__col-title
    padding-top: 25px

  h3.block-apart-info-heading-small
    max-width: 100%

  .apart-img
    max-width: 500px
    margin: 10px auto 

  .custom-new-patients__col-top
    padding-top: 45px

  .patients-three img
    max-width: 100%

  .patients-three
    margin: 15px auto  

  .block-Investment-image__col-image, .block-Investment-image__col-body
    width: 100%

  .block-main-Investment
    display: block

  .block-tabs-wheel
    padding-left: 15px
    padding-right: 15px

  .block-Investment-image__col-image, .block-Investment-image__col-body
    text-align: center  

  .block-Investment-image__col-title
    padding-top: 15px 

  .custom-new-free__col-section
    display: block

  .freeleftimg
    width: 100%
    text-align: center 

  .freeform
    width: 100% 

  .custom-new-contact .custom-new-contact__col-info  
    padding: 20px 
    text-align: center 

  .custom-new-contact__container .custom-new-contact__col-form                                                       
    padding: 20px 

  .base-container .block-gradient.block-gradient--invis
    margin-top: 25px
    padding-left: 15px
    padding-right: 15px

  .block-gradient-divi
    display: block

  .block-gradient-image__col-body
    width: 100%

  .block-gradient-image__col-image
    width: 100%
    text-align: center

  .block-gradient__schedules a
    font-size: 19px

  .block-gradient__schedules .block-gradient__col
    padding-left: 3rem
    padding-right: 3rem

  .block-gradient__content
    padding-top: 45px

  .block-gradient__image-before, .block-gradient__image-after
    width: 50% 
    
  .block-gradient__image-before img, .block-gradient__image-after img 
    max-width: 150px  
    
  .block-braces-image__col-body
    width: 100%

  .block-braces-divi
    padding-left: 15px
    padding-right: 15px
    text-align: center

  .block-braces-image__body
    background: rgba(255,255,255,0.6)
    margin: 15px 0 

  .braces-imgs
    justify-content: center
    -webkit-justify-content: center 

  .block-braces-image__col-image
    width: 100% 

  .custom-treatments-braces__section .braces-img img, .block-braces-image__col-image:nth-child(2) .braces-img img
    float: none  
    max-width: 450px
    margin: 15px auto
    width: 100%  

  .custom-about-team__section--alt .custom-about-team__col-body
    text-align: right !important 

  .navigation-mobile--scrolled .navigation-mobile__hamburger span
    background: #62bff2 

  .custom-new-contact__title
    padding-top: 0 

  .custom-about-team__section
    padding: 50px 0 0

  .custom-about-team__section--alt .custom-about-team__container
    justify-content: center

  .custom-about-team__layer-image
    display: block 

  .custom-about-team__section--alt .custom-about-team__col-body
    padding-right: 0
    margin-right: 0  

  .custom-about-team__title
    font-size: 24px 

  .two-three .svg_wrap img
    max-width: 410px
    width: 100% 

  .svg_wrap .team_bg
    left: 0
    right: 0   

  .custombracesouter .braces-img img
    display: block

  .custombracesouter  .block-braces-image__body
    min-height: auto 

  .custombracesouter .base-lazy-bg.custom-treatments-braces__background.custom-treatments-braces__background--active
    display: none   


@media (min-width: 481px) and (max-width: 767px)
  .block-facebook__col-1
    width: 100%
    padding-bottom: 25px

  .block-facebook__col-2
    width: 100%

  .customapp_section
    background: #fff
    padding: 10px 0     

  .custom-home-hero, .home_herocaption
    height: 50vh

  .two-three
    margin: 0px auto

  .docwelcome_img
    max-width: 400px
    margin: 50px auto 

  .block-gradient__image-before, .block-gradient__image-after
    width: 50%

  .block-gradient__image-before img, .block-gradient__image-after img 
    max-width: 200px

  .pages-about-us .custom-about-team__layer-image-image
    height: 195px 
    width: 159px

  .custom-teamsvg
    left: -27px
    top: -19px
  
  .custom-teamsvg svg
    width: 210px

  .custom-about-team__section--alt .custom-about-team__col-image
    margin-top: 30px 

  .svg_wrap .custom-teamsvg svg
    width: 108%
    max-width: 460px    

  .svg_wrap .custom-teamsvg
    left: -11px
    right: 0
    top: -17px

  .svg_wrap .team_bg
    width: 100%
    left: 0
    right: 0 

  .svg_wrap
    text-align: center 

  .custom-teamsvg svg
    width: 276px

  .two-three .svg_wrap img
    max-width: 340px 

  .svg_wrap .custom-teamsvg
    left: 0
    top: -4px
    right: 0

  .svg_wrap .custom-teamsvg svg
    width: 365px                


@media screen and (max-width: 481px)          
  .pages-about-us .custom-about-team__layer-image-image
    height: 245px
    width: 217px
    display: block
    margin: 0px auto
    right: 0  

  .svg_wrap .custom-teamsvg
    left: -12px
    top: -8px     

  .custom-teamsvg
    left: -1px
    top: -31px
    z-index: 1
    position: relative

  .custom-teamsvg svg
    width: 276px

  .two-three .svg_wrap img
    max-width: 260px 

  .svg_wrap .custom-teamsvg
    left: 0
    top: -4px
    right: 0

  .svg_wrap .custom-teamsvg svg
    width: 280px 

  .custom-about-team__section--alt .custom-about-team__col-body
    text-align: center !important

  .custom-about-team__layer-image
    width: 68% 

  .custom-about-team__layer-image
    width: 100%
    text-align: center      




