.custom-about-sponsorship
  position: relative
  z-index: -1
  background: $sky-blue-13
  padding: 6rem 0 4rem
  overflow-x: hidden

  &__background
    @include svg-size(250rem, 178.57rem)
    position: absolute
    top: -5rem
    left: -35rem
    fill: $white

  &__container
    @extend .container

  &__col
    &-body
      @extend .col-5
      @extend .col-1--offset

    &-slider
      @extend .col-5

    &-title
      @extend .col-12

  &__title
    padding-bottom: 4rem
    color: $sky-blue

  &__icon
    @include phone-lg
      @include svg-size(10rem, 10rem)

  &__body
    @include phone-lg
      padding-top: 0
      padding-bottom: 2rem
    padding-top: 4rem
    color: $brown-grey

  &__slider
    position: relative
    min-height: 20rem

  &__image
    @extend .img-centered
    transition: opacity .25s ease-in
    opacity: 0
    background-position: top

    &--active
      opacity: 1
      transition-delay: .15s
