.custom-about-lives
  position: relative
  z-index: 1
  padding-bottom: 2rem

  &__title
    @include phone-lg
      padding-bottom: 2rem
    padding: 2rem 0 4rem
    color: $navy-blue

  &__container
    @extend .container

  &__col
    &-title
      @extend .col-12

    &-right
      @extend .col-7

    &-left
      @extend .col-5

  &__image
    @extend .img-full
    background-repeat: no-repeat
    background-position: left center
    background-size: contain

    &-box
      display: block
      position: relative
      height: 100%
      min-height: 15rem

  &__body
    padding-bottom: 2rem
    color: $brown-grey

  &__button
    position: relative
    transition: box-shadow .25s ease-in
    border-radius: 25px
    box-shadow: none
    background: $navy-blue
    padding: 12px 15px
    text-decoration: none
    color: $white
    cursor: pointer
    display: inline-block
    text-decoration: none
    border: 2px solid $sky-blue    

    &:hover  
      background: $white
      color: $navy-blue    
